@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --container-size: 744px;

    --expanded-side-width: 3rem;

    --radius: 0.5rem;

    --mobile-navigation-height: 128px;
    --desktop-navigation-height: 48px;

    /* gray-[50,800,500,300] */
    --background: 210 20% 98%;
    --primary: 215 28% 17%;
    --secondary: 220 9% 46%;
    --line: 216 12% 84%;
  }

  .dark {
    /* gray-[950, 300, 400 with changed lightness from 65, 800] */
    --background: 224 71% 4%;
    --primary: 216 12% 84%;
    --secondary: 218 11% 49%;
    --line: 215 28% 17%;
  }
}

.background {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.05) 6%,
    transparent 6%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

@supports (scrollbar-width) {
  * {
    scrollbar-width: none;
  }
}
