@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter.var.woff2) format("woff2");
}

.grid-tile {
  @apply absolute inset-0 select-none overflow-hidden rounded-3xl bg-white p-9 ring-2 ring-inset ring-black/10 dark:bg-black dark:ring-white/10;
}

.backdrop {
  @apply absolute -inset-[2px] rounded-3xl;
}

.gradient-text {
  @apply bg-gradient-to-br bg-clip-text text-transparent;
}

.header {
  @apply mb-4 text-2xl font-bold md:text-3xl;
}

.react-grid-item.react-grid-placeholder {
  @apply rounded-2xl bg-gray-100 opacity-100 transition-all duration-500 ease-in-out will-change-transform dark:bg-black/50;
}
