@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --container-size: 744px;

    --expanded-side-width: 3rem;

    --radius: 0.5rem;

    --mobile-navigation-height: 128px;
    --desktop-navigation-height: 48px;

    --background: 0 0% 97%;
    --primary: 0 0% 21%;
    --secondary: 0 0% 48%;
    --accent: 0 0% 84%;

    /* vercel stuff dark*/
    /* --ds-gray-200-value: 0,0%,12%; border
    --ds-gray-900-value: 0,0%,63%; secondary text
    --ds-gray-900-value: 0,0%,93%; primary text
    --ds-gray-600-value: 0,0%,53%; cross
    bg 000*/

    /* light */
    /* --ds-gray-600-value: 0,0%,66%; cross
    --ds-gray-900-value: 0,0%,40%; secondary text
    --ds-gray-900-value: 0,0%,9%; primary text
    --ds-gray-900-value: 0,0%,92%; border 
    bg fafafa*/

    --shiki-color-text: --primary;
    --shiki-color-background: hsl(0deg 0% 95%);
    --shiki-token-constant: --primary;
    --shiki-token-string: #770000;
    --shiki-token-comment: hsl(0deg 0% 53%);
    --shiki-token-keyword: hsl(0deg 0% 48%);
    --shiki-token-parameter: #aa0000;
    --shiki-token-function: --primary;
    --shiki-token-string-expression: hsl(0deg 0% 42%);
    --shiki-token-punctuation: hsl(0deg 0% 51%);
    --shiki-token-link: #ee0000;
  }

  .dark {
    --background: 0 0% 4%;
    --primary: 0 0% 91%;
    --secondary: 0 0% 52%;
    --accent: 0 0% 16%;

    --shiki-color-text: --primary;
    --shiki-color-background: hsl(0deg 0% 5%);
    --shiki-token-constant: --primary;
    --shiki-token-string: #770000;
    --shiki-token-comment: hsl(0deg 0% 47%);
    --shiki-token-keyword: hsl(0deg 0% 52%);
    --shiki-token-parameter: #aa0000;
    --shiki-token-function: --primary;
    --shiki-token-string-expression: hsl(0deg 0% 66%);
    --shiki-token-punctuation: hsl(0deg 0% 49%);
    --shiki-token-link: #ee0000;
  }
}

.background {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.05) 6%,
    transparent 6%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

@supports (scrollbar-width) {
  * {
    scrollbar-width: none;
  }
}
