.tweet .react-tweet-theme {
  --tweet-container-margin: 0;

  --tweet-font-family: inherit;

  --tweet-font-color: inherit;
  --tweet-font-color-secondary: hsl(var(--secondary));

  --tweet-header-font-size: theme("fontSize.sm");
  --tweet-body-font-size: theme("fontSize.sm");
  --tweet-info-font-size: theme("fontSize.xs");

  --tweet-bg-color: hsl(var(--extreme));
  --tweet-bg-color-hover: hsl(var(--extreme));
  --tweet-quoted-bg-color-hover: hsl(var(--background));
  --tweet-border: 1px solid hsl(var(--accent));

  @apply rounded-lg transition-none;
}

.tweet .react-tweet-theme p a {
  @apply font-medium text-inverse underline decoration-accent underline-offset-2 hover:decoration-inverse;
}

.tweet .react-tweet-theme article {
  @apply p-4;
}

div[class*="tweet-not-found_root"] {
  @apply p-2 text-sm text-secondary/20;
}

div[class*="tweet-not-found_root"] h3 {
  @apply text-base font-semibold;
}
